name: Create Release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == "refs/heads/main"
    steps:
      - uses: actions/checkout@v3
      - name: Build and push the image
        run: |
          docker login --username ${{ github.actor }} --password ${{ secrets.GHP_TODO }} ghcr.io
          docker build . --tag ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest
          docker build . --tag ghcr.io/${{ github.repository }}:${{ inputs.version }}
          docker push ghcr.io/${{ github.repository }}:${{ inputs.version }}
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ inputs.version }}
          tag_name: v${{ inputs.version }}
          body: Body- This is version number ${{ inputs.version }}
